{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h2>Réinitialiser le mot de passe</h2>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <form method="POST" action="{{ path('app_resetmdp', { token: token }) }}">
        <label for="new_password">Nouveau mot de passe :</label>
        <input type="password" id="new_password" name="new_password" required>

        <label for="confirm_password">Confirmer le mot de passe :</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit">Changer le mot de passe</button>
    </form>
{% endblock %}
